/*
header {
    background: $background;
    text-align: center;
    font-family: 'Hind', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
}
header > * {
    display: flex;
    align-items: center;
}
header a {
    text-decoration: none;
    color: $secondary;
}
header > a {
    font-size: 34px;
    font-weight: 700;
}
header a span {
    width: 34px;
    height: 34px;
    display: inline-block;
    background: $primary;
    line-height: 34px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
}
header li {
    width: 60px;
    list-style: none;
}
*/
header{
    background: $background;
    text-align: center;
    font-family: 'Hind', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;

    > *{
        display: flex;
        align-items: center;
    }

    a{
        text-decoration: none;
        color: $secondary;

        span{
            width: 34px;
            height: 34px;
            display: inline-block;
            background: $primary;
            line-height: 34px;
            color: #fff;
            border-radius: 6px;
            text-align: center;
        }
    }

    > a{
        font-size: 34px;
        font-weight: $font-weight4;    
    }

    li{
        width: 60px;
        list-style: none;
    }
}